$font-color: #ECECEC;
$bg-color: #1E3444;

$gray--l: #fafafa;
$gray: #e8e8e8;
$gray--d: #c9c5c5;

$darkgray: #444;

$blue: #0096ff;
$blue--d: #0070BF;

$pastel: #29516D;
$pastel--d: #123752;
$darkpastel: #0b2b42;

$gold: #aa8d39;
$orange: #ffa100;

$red: #ff3600;

$green--l: #499371;
$green: #277552;

$softshadow: rgba(0,0,0,.5);
